node_modules/

dist/
build/

.env
.env.local

*.logs
npm-debug.log*

.vscode/
.idea/

*.tsbuildinfo

apps/services/openapi.json

/generated/prisma
.DS_Store
apps/.DS_Store
.DS_Store
secrets/
apps/services/monitoring/secrets/
coverage/

# SonarQube (analise estatica local)
.scannerwork/
apps/services/sonar/.env
